*   {font-size: 17px; 
    font-family: 'open sans'; 
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box; 
    margin-top: 15px; 
    margin-left: 2px; }
body 
    {background: rgb( 240, 240, 240); 
    /* padding-top: 120px } */}

    nav {
        margin-top: 0;
        margin-left: 0;
    }
h1 
    {color: rgb( 147, 25, 120); 
    font-size: 50px; 
    font-family: 'Permanent Marker';
    text-align: center; 
    padding: 0px;
    margin: 0px;
    background: darkgray;}
h2 
    {color: rgb(36, 31, 31); 
    font-weight: 800; 
    font-style: oblique; 
    font-size: 18px }
#discografia 
    {background-image: url('../imagenes/fondo discografia.jpg'); 
    background-repeat: no-repeat; 
    color: darkmagenta;}
.menu li a 
    {color: darkcyan}
nav ul 
    {text-align: center; 
    padding: 10px; 
    background: white; 
    border: 2px solid darkgray;
margin-top: 0;
margin-left: 0;}
nav ul li 
    {display: inline-block;
    margin: 0 50px; 
    position: relative;}
.menu li:hover
{transform: scale(1.1);}
ol li 
    {margin-top: 5px}
.integrantes ul li 
    {width: 49%; margin: 0;}
footer nav ul i 
    {font-size: 25px}
/* #historia {overflow: auto;}
#historia img {float: left;} */
header 
    {position: fixed; 
    left: 0px; 
    top: 0px ; 
    width: 100%; 
    margin: auto;
    z-index: 1;}
header nav .menu li .submenu 
    {display: none;
    position: absolute;
    width: 80px;
    padding: 2px;
    text-align: left ;}
header nav .menu li .submenu li 
    {display: block;
    margin: 0;}
header nav .menu li:hover .submenu 
    {display: block;}
    header nav .submenu li:hover {
        transform: scale(1);
    } 
.submenu li a {text-align: right}
main {margin-top: 15px; 
margin-left: 5px; padding-top: 80px }
section {margin-top: 15px; 
    margin-left: 5px; padding-top: 80px }
footer {margin-top: 15px; 
    margin-left: 5px; padding-top: 90px}


